html
  head
    meta(charset="utf-8")
    title Nikita idi na her
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
  body
    .container
      if users
        ul.nav
          for i in users
            li
              a(href="/ninh_zak/name?id="+i.id)= i.login
      else
        table.table.table-striped.table-hover.table-condensed
          tr
            th №
            th Наименование
            th Количество
            th Цена
            
          - k = 0
          for i in orders
            for j in tovars
              if i.id_tov == j.id
                - k++
                tr
                  td= k
                  td= j.name
                  td= i.count
                  td= j.price
